body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  height: 100vh;
  min-height: 100%;
}
.main h1 {
  font-weight: 400;
  color: rgb(2 2 85);
}
.main table {
  align-items: center;
}
.main table thead {
  background: #f7f7f7;
}
.main table thead th {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  color: #020255;
}
.main h1 {
  padding: 10px 20px;
}
.main table tbody td {
  color: #020255;
  font-size: 14px;
}
.delete-icon {
  color: rgb(217, 25, 25);
  background: #fad9d9;
  padding: 6px;
  border-radius: 20px;
  font-size: 20px !important;
  cursor: pointer;
}
.edit-icon {
  color: #43a047;
  border: 1px solid;
  padding: 6px;
  border-radius: 20px;
  font-size: 20px !important;
  cursor: pointer;
  margin-right: 15px;
}
.edit-form {
  display: flex;
  align-items: flex-start;
  border: 1px solid #dfd8d8;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 2px 0 #d5d3d3;
  width: 50vw;
  justify-content: center;
  min-width: 50vw;
  margin: 20px auto !important;
}
.edit-form Button {
  display: flex;
  padding: 10px 25px;
  width: min-content;
  justify-content: flex-start;
  font-size: 18px;
}
.edit-text {
  text-align: center;
  margin-bottom: 0;
}
.edit-small-text {
  text-align: center;
  margin: 20px 0px;
  font-size: 22px;
  color: #020255;
  font-weight: 400;
}

.customTextField {
  margin-bottom: 10px !important;
  /* background-color: #f0f0f0;  */
  border-radius: 5px;
}
.customTextField input {
  font-size: 20px; /* Make the text size slightly larger */
}

.customTextField .MuiOutlinedInput-root {
  border-radius: 8px; /* Round the corners of the input field */
}

.customTextField .MuiOutlinedInput-notchedOutline {
  border-color: #d2cece;
  box-shadow: 0 0 2px 0px #cac6c6;
}
